html,body{
    margin:0 ;
    background-color: rgb(179, 179, 179);
}

.relogio{
    border: 2px solid red;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

.display{
    background-color: rgb(92, 92, 86);
    width: 300px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    border-radius: 10px;
    color: #fff;
    font-size: 5rem;
    border: 10px solid #ffd523;
}

footer{
    font-size: 2rem;
    margin-top: 10px;
    color: #333;
}

/*Conjunto de Aplicações para o código todo*/
:root{
    --yellow: #ffd523;
    --white: #fff;
    --black: #000;
    --grey:  rgb(92, 92, 86);
    --lightgrey:  rgb(179, 179, 179);

    /*Código para mudar o seletor de BODY atual*/
*{
    color: var(--fontColor);
}
    body{
    background-color: var(--background);
    }
}

.light-theme{
--background: var(--lightgrey);
--fontColor: var(--white);
/*Adicionando o Botão*/
--background: var(--lightgrey);
--botaoBg:  var(--black);
--botaoFontColor:var(--yellow);
}

.dark-theme{
--background: var(--black);
--fontColor: var(--yellow);
/*Adicionando o Botão*/
--background: var(--black);
--botaoBg:  var(--yellow);
--botaoFontColor:var(--black);

}
.botão :focus {outline-style: none;}

/*Criando o Botão Arredondado*/
.botão{
    position: absolute;
    top: 50px;
    left: 50px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex; /* Adicina Flexbox */
    justify-content: center; /* Alinha horizontalmente */
    align-items: center; /* Alinha verticalmente */
    color: var(--botaoFontColor);
    background-color: var(--botaoBg);
    text-align: center;
}
